:root {
    --primary-accent: #573b64;
    --secondary-accent: #c686e3;
    --bg-color: #e1e7e7;
    --text-color: #333;
    --img-border-color: white;
    --shadow: 0 10px 22px rgba(0, 0, 0, 0.2);
}

body {
    background-color: var(--bg-color);
    padding-top: 0;
    color: var(--text-color);
}

a {
    color: var(--secondary-accent);
}

a:hover {
    color: var(--primary-accent);
    border-bottom: 2px solid var(--primary-accent);
}

textarea, input:not([type="checkbox"]) {
    max-width: 100%;
    min-width: 100%;
}

hr {
    border: 1px solid var(--primary-accent);
}

button {
    background-color: var(--primary-accent);
    border-color: var(--primary-accent);
}

button:hover:enabled, button:active:enabled {
    background-color: var(--secondary-accent);
    border-color: var(--secondary-accent);
}

.hidden {
    display: none;
}

/* header-related styles */
header {
    height: 0;
    border-left: 26px solid transparent;
    border-right: 26px solid transparent;
    border-top: 40px solid var(--primary-accent);
}

header a {
    color: var(--bg-color);
}

header a:hover {
    color: var(--secondary-accent);
    border-bottom: 2px solid var(--secondary-accent);
}

nav > ul {
    display: flex;
    justify-content: space-around;
    list-style: none;
}

nav > ul > li {
    text-transform: uppercase;
    margin-top: -40px;
}

/* main-related styles */
main {
    padding-left: 26px;
}

figure {
    margin: 0;
    display: flex;
    align-items: center;
    flex-direction: column;
}

@media only screen and (min-width: 600px) {
    figure {
        flex-direction: row;
    }
}

blockquote {
    background: unset;
    border-left: unset;
    color: var(--bg-color);
    padding: 0;
    flex-basis: 60%;
}

blockquote p {
    border-radius: 0 50px;
    background: linear-gradient(45deg, var(--primary-accent), var(--secondary-accent));
    padding: 2.27em 4.09em 2.27em 2.72em;
    box-shadow: var(--shadow);
}

figcaption {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-basis: 20%;
}

figure img {
    flex-basis: 20%;
    min-width: 7.25em;
    width: 7.25em;
    height: 7.25em;
    margin: -3.625em 0 1.875em 0;
    border-radius: 50%;
    border: solid 3px var(--img-border-color);
    box-shadow: var(--shadow);
}

@media only screen and (min-width: 600px) {
    figure img {
        margin: 0 1.875em 0 -3.625em;
    }
}

figcaption p {
    text-transform: uppercase;
    margin-bottom: .1em;
    text-align: center;
}

cite {
    font-size: .8em;
    text-align: center;
}

/* footer-related styles */
footer {
    font-size: .7em;
    display: flex;
    justify-content: space-between;
    margin: 1em 0 0 0;
    border-top: 1px solid var(--primary-accent);
    padding: 1em 0 0 0;
    gap: 1em;
}

footer p {
    flex-basis: 50%;
    margin: 0;
}

footer ul, ul.no-bullets {
    list-style: none;
    padding: 0;
}

.overlay {
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 1;
}

[role="dialog"] {
    background-color: var(--bg-color);
    min-height: 30%;
    max-height: 70%;
    width: 50%;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 0.5em;
    z-index: 2;
}
